/* Site Wide CSS */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
	margin:0px;
	border:0px;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background-color: #EBF5F2;
}

/* Menu CSS */
#menu{
	width: 100%;
}
#menu .link{
	text-decoration: none;
	color: #ffffff;
	display: inline-block;
	margin-top:24px;
	margin-left:20px;
}
#menu .link:hover{
	border-bottom: 1px solid white;
}

/* Head HTML */
h1{
	font-family: 'Josefin Sans', sans-serif;
	color: #FFFFFF;
	font-size:35px;
}

h2{
    font-family: 'Josefin Sans', sans-serif;
    color: #000000;
    font-size:35px;
}

/* Book List */
#bookList{
	margin-top:30px;
	width:100%;
	padding-left:5%;
	padding-right:5%;
}

#bookList .bookTile{
	display: inline-block;
	background-color: #ffffff;
	width:100%;
	margin-bottom:50px;
	position:relative;
	padding:30px;
	padding-left:110px;

}

/* Search Bar */
#searchbar{
	width:100%;
	padding-left:5%;
	padding-right:5%;
	height:50px;
	margin-top: -20px;
}

#searchbar .shadow{
	display: inline-block;
	width:100%;

	/* Required for Cross Browser Compatibility */
	moz-box-shadow: 0px 3px 9px #BABFBE;
	-webkit-box-shadow: 0px 3px 9px #BABFBE;
	box-shadow: 0px 3px 9px #BABFBE;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#BABFBE')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#BABFBE');
}

#searchbar .input{
	width:80%;
	display: inline-block;
	height:100%;
}

#searchbar .input input{
	width:100%;
	outline: none;
	border:none;
	height:40px;
	padding-top:14px;
	padding-bottom:16px;
	padding-left:12px;
	font-size: 17px;
	font-weight: 100;
}

#searchbar .button{
	width:20%;
	padding-top: 12px;
	padding-bottom:12px;
	background-color: #6C96AE;
	color: #ffffff;
	cursor:pointer;
	display: inline-block;
	border:none;
	text-align: center;
	color:#13212B;
}

#searchbar .button:hover{
	background-color: #13212B;
	color:#6C96AE;	
}

/* thee pane div*/

#threePane{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#threePane > div {
  width: 200px;
  height: 300px;
  background-color: #d84c4c;
}

/* two pane pane div*/

#twoPane{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#twoPane > div {
  width: 300px;
  height: 300px;
  background-color: #d84c4c;
}

form {
	margin: auto;
	position: relative;
	width: 1100px;
	background-color: white;
	text-decoration: none;
	border-radius: 10px;
	padding: 10px;
	border: 1px solid #999;
	border: inset 1px solid #333;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input {
	width: 375px;
	display: block;
	border: 1px solid #999;
	height: 25px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.fileupload {
    width: 263px;
    display: block;
    border: 1px solid #999;
    height: 25px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
textarea#description {
	width: 375px;
	height: 150px;
	display: block;
}

button {
	width: 100px;
	position: absolute;
	right: 20px;
	bottom: 20px;
	background: #09C;
	color: #fff;
	font-family: Tahoma, Geneva, sans-serif;
	height: 30px;
	border-radius: 15px;
	border: 1px solid #999;
}

input.button:hover {
	background: #fff;
	color: #09C;

}

textarea:focus, input:focus {
	border: 1px solid #09C;
}

.winner_tile{
	width:30%;
	background-color: #49BEC4;
	color:#FFFFFF;
}
